:root {
    --firstTop: 23.0%;
    --secondTop: 33.0%;
    --thirdTop: 38.6%;
    --forthTop: 52.5%;
    --fifthTop: 62.3%;
    --sixthTop: 72.3%;
    --seventhTop: 82.3%;
  }

h1 {
    font-family: "Zen Kaku Gothic New", sans-serif;
}
body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

input[type="number"] {
    width: 50px;
  }

.image {/*親div*/
    position: relative;/*相対配置*/
}
    
.image p#firstTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#firstGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#firstWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#firstLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#firstDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#firstPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--firstTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#secondTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#secondGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#secondWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#secondLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#secondDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#secondPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--secondTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#thirdTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#thirdGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#thirdWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#thirdLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#thirdDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#thirdPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--thirdTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#forthTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#forthGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#forthWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#forthLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#forthDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#forthPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--forthTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#fifthTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#fifthGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#fifthWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#fifthLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#fifthDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#fifthPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--fifthTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#sixthTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#sixthGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#sixthWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#sixthLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#sixthDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#sixthPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--sixthTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#seventhTeamname {
    position: absolute;/*絶対配置*/
    color: black;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--seventhTop);
    left: 14.7%;
    margin:0;
    padding:0;
}

.image p#seventhGameText {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    p: var(--seventhTop);
    right: 39.0%;
    margin: 0;
    padding: 0;
}

.image p#seventhWin {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    p: var(--seventhTop);
    right: 31.3%;
    margin: 0;
    padding: 0;
}

.image p#seventhLose {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--seventhTop);
    right: 22.3%;
    margin: 0;
    padding: 0;
}

.image p#seventhDraw {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--seventhTop);
    right: 13.8%;
    margin: 0;
    padding: 0;
}

.image p#seventhPoint {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 4.5vw;
    top: var(--seventhTop);
    right: 4.5%;
    margin: 0;
    padding: 0;
}

.image p#now {
    position: absolute;/*絶対配置*/
    color: white;/*文字は黒に*/
    font-size: 2vw;
    bottom: 2%;
    right: 1%;
    margin: 0;
    padding: 0;
}

.image img {
    width: 100%;
}